/* colors */
$red: #ff0000;
$umber: #8a2a21;
$thunderbird: #c62d1f;
$tb: #d02718;
$flamingo: #f24437;
$white: #ffffff;
$dark-burgundy: #810e05;
$totem-pole: #A40808;
$white-rock: #EEE7DB;
$silver-chalice: #AAAAAA;
$mandys-pink: #F5C8BF;