<div class="container">
  <div *ngIf="!gameFinished; else endGame">
    <h1 class="container__title" [class.shown]="!gameStarted">
      {{name}}, press the red button to start! You have {{seconds}} seconds.
    </h1>
    <h1 class="container__title" [class.shown]="gameStarted">
      Your points: {{score}}
    </h1>
  </div>
  <ng-template #endGame>
    <div>
      <h1 class="container__title shown">
        {{message}} Your score: {{score}}
        <br />
        <button class="container__retry" (click)="retry()">Retry?</button>
      </h1>
    </div>
  </ng-template>
  <img
    class="container__button"
    [src]="src"
    alt="button"
    (click)="onClick()"
    (mousedown)="onMouseDown()"
    (mouseup)="onMouseUp()"
  />
  <div class="container__timer" [class.shown]="!gameFinished && gameStarted">
    {{seconds}} s
  </div>
  <div class="container__scoreboard" [class.shown]="gameFinished">
    <table class="container__table">
      <tr>
        <th>
          Place
        </th>
        <th>
          Name
        </th>
        <th>
          Score
        </th>
      </tr>
      <tr *ngFor="let item of scoresArray; let i = index">
        <td>
          {{i + 1}}
        </td>
        <td>
          {{item.name}}
        </td>
        <td>
          {{item.score}}
        </td>
      </tr>
    </table>
  </div>
</div>
